Repository sdf-labs/arrow-datafusion, pull requests merged in 2024-11, with the labels that each got.

#72 Backport upstream fix (#12443)
  datafusion/optimizer/src/decorrelate_predicate_subquery.rs
  datafusion/optimizer/src/utils.rs
  datafusion/sqllogictest/test_files/join.slt
Labels: bug, optimizer, sqllogictest

#73 Backport: Fix incorrect `... LIKE '%'` simplification with NULLs (#13259)
  datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs
  datafusion/sqllogictest/test_files/strings.slt
Labels: optimizer, sqllogictest

#75 Github actions: peg Rust version to 1.82
  .github/workflows/dependencies.yml
  .github/workflows/rust.yml
Labels: development-process
